fedoragsearch.soapBase=http://localhost:8080/fedoragsearch/services
fedoragsearch.soapUser={{ getv "/admin/user" }}
fedoragsearch.soapPass={{ getv "/admin/password" }}
fedoragsearch.deployFile=/opt/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/deploy.wsdd
# xsltProcessor (xalan or saxon):
# This choice must be accompanied by the right namespace in your foxmlToLucene.xslt:
#   xmlns:exts="xalan://dk.defxws.fedoragsearch.server.GenericOperationsImpl" for xalan
#   xmlns:exts="java://dk.defxws.fedoragsearch.server.GenericOperationsImpl"  for saxon
fedoragsearch.xsltProcessor=xalan
fedoragsearch.defaultNoXslt=copyXml
fedoragsearch.defaultUpdateIndexRestXslt=adminUpdateIndexToHtml
fedoragsearch.defaultGfindObjectsRestXslt=adminGfindObjectsToHtml
fedoragsearch.defaultBrowseIndexRestXslt=adminBrowseIndexToHtml
fedoragsearch.defaultGetRepositoryInfoRestXslt=adminGetRepositoryInfoToHtml
fedoragsearch.defaultGetIndexInfoRestXslt=adminGetIndexInfoToHtml
fedoragsearch.maxPageSize=50
fedoragsearch.defaultBrowseIndexTermPageSize=20
fedoragsearch.defaultGfindObjectsHitPageSize=10
fedoragsearch.defaultGfindObjectsSnippetsMax=3
fedoragsearch.defaultGfindObjectsFieldMaxLength=100
# WriteLimit for Apache Tika
############################
# Maximum number of characters to extract from a datastream for indexing
# characters after writeLimit are ignored
# prevents very long datastreams from stressing the server
fedoragsearch.writeLimit=100000 // Default in Tika if not specified
# fedoragsearch.writeLimit	= -1  // No limit
# see https://tika.apache.org/1.0/api/org/apache/tika/sax/WriteOutContentHandler.html

# fedoragsearch.mimeTypes: The sequence of mimeTypes used when only one of the
# defined datastreams shall be indexed. E.g. demo:18 has three datastreams of
# different mimetype, but with supposedly identical text, so only one of them
# should be indexed. Currently "text/plain text/xml text/html application/xml
# application/pdf" are implemented.
fedoragsearch.mimeTypes=text/plain text/xml text/html application/xml application/pdf
fedoragsearch.repositoryNames=FgsRepos
fedoragsearch.indexNames=FgsIndex

# Configuration of updates through Fedora notifications. If this property is
# removed updates through notifications are disabled.
fedoragsearch.updaterNames=FgsUpdaters
