fgsrepository.repositoryName=FgsRepos
fgsrepository.fedoraSoap=http://{{ getv "/host" }}:{{ getv "/host/port" }}/fedora/services
fgsrepository.fedoraUser={{ getv "/admin/user" }}
fgsrepository.fedoraPass={{ getv "/admin/password" }}
fgsrepository.fedoraObjectDir=/opt/fedora/data/objectStore
fgsrepository.fedoraVersion=3.8.1
fgsrepository.trustStorePath=TRUSTSTOREPATH
fgsrepository.trustStorePass=TRUSTSTOREPASS
fgsrepository.defaultGetRepositoryInfoResultXslt=copyXml
