<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id$ -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="FILEOUT" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="/opt/tomcat/logs/fedoragsearch.log"/>
    <param name="MaxFileSize" value="20MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
    </layout>
  </appender>
  
  <logger name="dk.defxws.fedoragsearch" additivity="false">
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </logger>
  
  <logger name="dk.defxws.fgszebra" additivity="false">
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </logger>
  
  <logger name="dk.defxws.fgslucene" additivity="false">
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </logger>
 
  <logger name="dk.defxws.fgssolr" additivity="false">
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </logger>
  
  <logger name="dk.defxws.fgssolrremote" additivity="false">
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="FILEOUT"/>
  </root>
  
</log4j:configuration>
